.App {
 display: flex;
 flex-direction: column;
padding: 50px;
}

input {
  height: 30px;
  width: 300px;
  padding: 8px;
  border-radius: 7px;
  margin: 8px
}
ul {
  background-color: #eee;
  margin: 8px;
  width: 300px;
  padding: 8px;
  border-radius: 7px;
  list-style-type: none;
  font-weight: bold;  
  font-size: 14px;
}

li {
  padding: 8px;
  background-color: #fff;
  margin: 8px;
}


